.masthead {
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
	width: 100%;
	text-align: center;
}

.masthead-title {
	text-transform: lowercase;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media-list {
	display: flex;
    width: 20%;
    list-style: none;
    margin: 2rem 2rem;

    li {
        margin-left: .5rem;
    }
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 60%;

    @media screen and (max-width: 950px) {
        max-width: 90%;
    }

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.list-item a {
    font-weight: normal;
    text-transform: lowercase; 
    font-size: 2em;
    
    @media screen and (max-width: 600px) {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.list-post-date {
    margin: 0 0 0 1rem;
	font-size: .8em;
}

.comments {
    margin-top: 1rem;
}

.post-date {
    margin-bottom: 1rem;
}
