.masthead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 10rem;
    margin-left: 13rem;

    @media screen and (max-width: 600px) {
    	align-items: center;
    	margin-left: 0;
    }
}

.masthead-title {
	text-transform: lowercase;
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem 2rem;

    li {
        margin-left: .5rem;
    }
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 60%;

    @media screen and (max-width: 950px) {
        max-width: 70%;
    }

    @media screen and (max-width: 500px) {
        max-width: 80%;
    }
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.list-post-title {
    font-weight: normal;
    text-transform: lowercase; 
    
    @media screen and (max-width: 600px) {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.list-post-date {
    margin: 0 0 0 1rem;
}

.comments {
    margin-top: 1rem;
}

.post-date {
    margin-bottom: 1rem;
}
